@* Views/Shared/_SidebarAgent.cshtml *@
<div class="d-flex flex-column p-3">
    <h4 class="mb-4 text-center">Agent Panel</h4>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="/Agent/Index" class="nav-link text-white"><i class="bi bi-speedometer2 me-2"></i> Đăng tin</a></li>
        <li><a href="/Agent/MyPosts" class="nav-link text-white"><i class="bi bi-card-list me-2"></i> Bài đăng của tôi</a></li>
    </ul>
</div>
