@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<div class="container-fluid">
    <h3 class="fw-bold mb-4">Danh sách khách hàng</h3>

    <table class="table table-bordered shadow-sm">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Tên khách hàng</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Nhu cầu</th>
                <th>Ngày liên hệ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>vana@gmail.com</td>
                <td>0912 345 678</td>
                <td>Thuê căn hộ</td>
                <td>22/10/2025</td>
            </tr>
        </tbody>
    </table>
</div>
