@model  List<RealEstate.Models.ViewModels.PropertyViewModel>


<div class="title-home mt-4">
    <h3>Dự án nổi bật</h3>
</div>
<div class="list-item">
    <div>
        @Html.Partial("_ListUrban", Model)
    </div>
</div>