@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h3 class="mb-4">Tổng quan hệ thống</h3>

@Html.Action("TangTruong", "Admin");

<div class="row g-3">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-light fw-bold">
                <i class="fa-solid fa-chart-line"></i> Lượt tin đăng theo tháng
            </div>
            <div class="card-body">
                <canvas id="chartTinDang"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header bg-light fw-bold">
                <i class="fa-solid fa-pie-chart"></i> Tỷ lệ loại tin
            </div>
            <div class="card-body">
                <canvas id="chartLoaiTin"></canvas>
            </div>
        </div>
    </div>
</div>

@Html.Action("TinDangGanDay", "Admin",new {Take = 3 })

@section scripts {
    <!-- Chart.js CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"  ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // ====== Biểu đồ cột: Tin đăng theo tháng ======
        $.getJSON('@Url.Action("TinDangMoiThang")', function (data) {
            const labels = data.map(x => x.Thang);
            const values = data.map(x => x.LuotTin);



            const ctx1 = document.querySelector('#chartTinDang').getContext('2d');
            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: "Số tin đăng",
                            data: values,
                            backgroundColor: '#0d6efd',
                            borderRadius: 6,                      
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: true }
                    }
                }
            })
        })

        $.getJSON('@Url.Action("TiLeDangTin")', function (data) {
            const labels = data.map(x => x.Loai);
            const values = data.map(x => x.LuotTin)
           
            const ctx2 = document.querySelector('#chartLoaiTin').getContext('2d');
            new Chart(ctx2, {
                type : 'pie',
                data: {
                    labels: labels,
                    datasets: [{

                        data: values,
                        backgroundColor: [
                            '#0d6efd', // xanh dương
                            '#198754', // xanh lá
                            '#ffc107', // vàng
                            '#dc3545', // đỏ
                            '#6610f2', // tím
                            '#20c997', // xanh ngọc
                            '#fd7e14', // cam
                            '#6c757d', // xám
                            '#17a2b8'  // xanh cyan
                        ]

                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { position: 'right' }
                    }
                }
            })
        })

    </script>

}
