@model RealEstate.Models.ViewModels.PropertyDetailViewModel
@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" href="~/Content/property.css" />

<div class="property-container">
   
</div>
