@model List<RealEstate.Models.ViewModels.PropertyViewModel>
@{
    ViewBag.Title = "Danh sách bất động sản";
}

<div class="title-home">
    <h3>Bất động sản dành cho bạn</h3>
    <ul>
        <li><a href="#">Bán đất</a></li>
        <li><a href="#">Bán nhà riêng</a></li>
        <li><a href="#">Bán căn hộ</a></li>
        <li><a href="#">Cho thuê</a></li>

    </ul>
</div>
<div class="list-item">

    @foreach (var item in Model)
    {
        <div>
           @Html.Partial("_ListProperty", item)
        </div>
    }
</div>
