@model List<RealEstate.Models.ViewModels.PropertyViewModel>
@{
    ViewBag.Title = "Danh sách bất động sản";
}
<div class="bg-light py-4 hero-section d-flex align-items-center">
    <div class="container position-relative ">
        <div class="mx-auto bg-white shadow-lg rounded-2 p-4 container">

            <ul class="nav nav-tabs mb-3 border-0">
                <li class="nav-item">
                    <a class="nav-link active fw-semibold" href="#">Mua bán</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold" href="#">Cho thuê</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-semibold" href="#">Dự án</a>
                </li>
            </ul>

            <!-- Search row -->
            <div class="d-flex flex-wrap gap-2">
                <div class="input-group    ">
                    <input type="text" style="width:85%" placeholder="Tìm kiếm theo khu vực, dự án, tên đường..." />

                </div>
                <div style="right:140px;width:50px" class="position-absolute  ">
                    <button class="btn btn-danger ">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div style="right:50px" class="position-absolute  ">
                    <button class="btn btn-outline-primary">
                        <i class="bi bi-map"></i> Bản đồ
                    </button>
                </div>

            </div>

            <!-- Filter row -->
            <div class="d-flex flex-wrap gap-2 mt-3">
                <select class="form-select w-auto">
                    <option selected>Toàn quốc</option>
                    <option>TP. Hồ Chí Minh</option>
                    <option>Hà Nội</option>
                </select>

                <select class="form-select w-auto">
                    <option selected>Dự án</option>
                    <option>Chung cư</option>
                    <option>Nhà phố</option>
                </select>

                <select class="form-select w-auto">
                    <option selected>Loại BĐS</option>
                </select>

                <select class="form-select w-auto">
                    <option selected>Mức giá</option>
                </select>

                <select class="form-select w-auto">
                    <option selected>Diện tích</option>
                </select>


            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="title-home mt-4">
        <h3>Bất động sản dành cho bạn</h3>

    </div>
    <div class="list-item">

        
            <div>
                @Html.Partial("_ListProperty", Model)
            </div>
    </div>

     

</div>
