@model List<RealEstate.Models.Property>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<div>
    @foreach(var item in Model)
            {
                <div>
                    <p>
                        @item.Title
                    </p>
                </div>
            }
</div>